apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring
  namespace: monitoring
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 1m
  path: ./kubernetes/infrastructure/homelab/monitoring
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: monitoring
