# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: miniflux
images:
- name: miniflux/miniflux
  newTag: 2.2.16
resources:
- namespace.yaml
- postgres-credential.yaml
- miniflux-admin-credential.yaml
- deployment.yaml
- service.yaml
- ingress.yaml
patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: miniflux
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: 100m
          memory: 50Mi
        limits:
          cpu: 200m
          memory: 100Mi
