# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: default
  namespace: cnpg-system
spec:
  instances: 1
  bootstrap:
    initdb:
      database: n8n
      owner: n8n
      secret:
        name: n8n-user-credential
  resources:
    requests:
      memory: 1Gi
      cpu: 250m
    limits:
      memory: 1Gi
      cpu: 250m
  storage:
    size: 2Gi
